/target/
!.mvn/wrapper/maven-wrapper.jar

# Windows image file caches
Thumbs.db
ehthumbs.db

# java class file
*.class

# Package Files #
*.war
*.ear
/target
/.settings
/.classpath
/.project
/.idea

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ignore Maven generated target folders
target
out

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### app_log ###
/logs/